.fr,
div.header>div {
    float: right
}
.h-reply-wrapper .h-reply.is-disabled,
div.h-channel div.footer.is-disabled,
div.h-conv div.footer.is-disabled {
    pointer-events: none
}
.avatar-image,
table {
    border-collapse: collapse
}
.clear:after,
.h-chat .h-comment:after,
.h-chat .h-conv ul li:after,
.h-conv-chat .agent-chat .agent-comment:after,
.h-conv-chat .agent-chat .agent-conv ul li:after,
.h-conv-chat .img-content:after,
.h-conv-chat .user-chat .user-comment:after,
.h-conv-chat .user-chat .user-conv ul li:after,
.img-content:after,
div.h-channel .h-header .clearboth,
div.h-conv .h-header .clearboth {
    clear: both
}
@font-face {
    font-family: fs-icons;
    src: url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-2203a2f52f4082536e022bc2a988e5e8.eot);
    src: url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-2203a2f52f4082536e022bc2a988e5e8.eot?#iefix) format("embedded-opentype"), url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-96331513747e84453b6d1736bd9afcef.woff2) format("woff2"), url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-5ac391e74516ca688fe5d18d64497f26.woff) format("woff"), url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-78bc94352dd601844f88b36251cb04d1.ttf) format("truetype"), url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-e2950f1766d71882322c87639a33082a.svg#fs-icons) format("svg");
    font-weight: 400;
    font-style: normal
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: fs-icons;
        src: url(fonts/fs-icons_a3500b579afa81300e30c339c3253e91-e2950f1766d71882322c87639a33082a.svg#fs-icons) format("svg")
    }
}
[data-icon]:before {
    content: attr(data-icon)
}
.icon-agent_default_pic:before,
.icon-ic_attachment:before,
.icon-ic_back:before,
.icon-ic_chat:before,
.icon-ic_chat_double:before,
.icon-ic_chat_icon:before,
.icon-ic_close:before,
.icon-ic_close_small:before,
.icon-ic_faq:before,
.icon-ic_message:before,
.icon-ic_message_error:before,
.icon-ic_message_sending:before,
.icon-ic_reply:before,
.icon-ic_search:before,
.icon-ic_smiley:before,
[data-icon]:before {
    display: inline-block;
    font-family: fs-icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}
.icon-agent_default_pic:before {
    content: "\f100"
}
.icon-ic_attachment:before {
    content: "\f101"
}
.icon-ic_back:before {
    content: "\f102"
}
.icon-ic_chat:before {
    content: "\f103"
}
.icon-ic_chat_double:before {
    content: "\f104"
}
.icon-ic_chat_icon:before {
    content: "\f105"
}
.icon-ic_close:before {
    content: "\f106"
}
.icon-ic_close_small:before {
    content: "\f107"
}
.icon-ic_faq:before {
    content: "\f108"
}
.icon-ic_message:before {
    content: "\f109"
}
.icon-ic_message_error:before {
    content: "\f10d"
}
.icon-ic_message_sending:before {
    content: "\f10e"
}
.icon-ic_reply:before {
    content: "\f10a"
}
.icon-ic_search:before {
    content: "\f10b"
}
.icon-ic_smiley:before {
    content: "\f10c"
}
i.icon.ic_back:before,
i.icon.ic_chat:before,
i.icon.ic_close:before {
    content: ""
}
.dn {
    display: none!important
}
.tc {
    text-align: center
}
div.header {
    color: #8B8B8B;
    padding: 5px 0;
    display: inline-block
}
div.header div.title {
    width: 260px
}
div.header div.arrow-down,
div.header div.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}
div.header div.actions {
    padding: 5px 0;
    cursor: pointer
}
div.header div.arrow-up {
    border-bottom: 10px solid #fff
}
div.header div.arrow-down {
    border-top: 10px solid #fff
}
.avatar-image {
    width: 40px;
    height: 40px
}
.avatar-content-wrap {
    width: 30px;
    height: 30px;
    border-radius: 50% 6px 50% 50%;
    display: table;
    vertical-align: middle;
    background-position: center center;
    background-image: url(/assets/images/Agent-db35cf7656adaad5a250142c8bd838e5.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;
    text-align: center;
    color: #fefefe;
    overflow: hidden
}
.avatar-content-wrap .avatar-content,
.category-content-wrap .category-content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle
}
.avatar-content-wrap span.theme-bg {
    width: 100%;
    height: 100%;
    display: table;
    font-weight: 300
}
.avatar-content-wrap img {
    height: 100%;
    width: 100%
}
.avatar-content-wrap .avatar-content {
    width: 100%;
    height: 100%;
    display: table-cell
}
.category-content-wrap {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 300;
    display: table;
    vertical-align: middle;
    background-position: center center;
    text-align: center;
    color: rgba(255, 255, 255, .9)
}
.category-content-wrap .category-content {
    width: 100%;
    height: 100%;
    display: table-cell
}
input[type=file] {
    visibility: hidden;
    height: 0;
    width: 0
}
a.icon,
i.icon {
    width: 20px;
    height: 20px
}
a.icon {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #ccc;
    border-radius: 50%
}
a.icon span {
    padding: 2px 5px;
    font-size: 13px;
    color: #fff
}
div.error-page-wrap {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
.form-control {
    border-color: #C2C2C2;
    border-width: 2px
}
.form-control:focus {
    border-color: #C2C2C2;
    box-shadow: none
}
i.icon {
    display: block;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    text-align: right;
    margin: 0
}
i.icon.ic_close:before {
    background-image: url(/assets/images/ic_close-ac85c93bc18bdb0bb1e3797ab12b7a59.png)
}
i.icon.ic_back:before {
    background-image: url(/assets/images/ic_back-00fbc643945d0e0c1d069274b5f8fc36.png)
}
i.icon.ic_chat:before {
    background-image: url(/assets/images/ic_chat-172f484d12c2779ae6e44bdedd254d30.png)
}
.webchat .emojiPicker {
    z-index: 10;
    box-shadow: 0 12px 29px rgba(0, 0, 0, .25)!important
}
.webchat .emojiPicker .shortcode {
    box-shadow: 0 5px 29px rgba(0, 0, 0, .25)!important;
    position: relative
}
.webchat .emojiPicker .shortcode:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    right: 20px;
    border-width: 12px 12px 0;
    border-color: #eee transparent transparent
}
.webchat .emojiPicker section em {
    padding: 0;
    margin: 2%;
    line-height: 0
}
.emojiCe {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    outline: 0
}
.preview-container {
    margin-top: 20px;
    position: absolute;
    right: 5px;
    bottom: 100%;
    width: 320px;
    margin-bottom: 2px
}
.preview-container .preview-wrapper {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .06);
    border-radius: 20px 20px 4px
}
.preview-container .h-reply-wrapper {
    width: 100%
}
.preview-container .h-reply-wrapper .h-reply {
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    -webkit-transition: .6s;
    transition: .6s;
    position: relative;
    border-radius: 0 0 4px 20px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.preview-container .h-reply-wrapper .h-reply .placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba(0, 0, 0, .4);
    -webkit-transition: .6s;
    transition: .6s;
    z-index: 11
}
.preview-container .h-reply-wrapper .h-reply .h-reply-attach,
.preview-container .h-reply-wrapper .h-reply .h-reply-send,
.preview-container .h-reply-wrapper .h-reply .h-reply-smiley {
    color: #37474f;
    font-size: 18px;
    position: absolute;
    z-index: 20;
    bottom: 15px;
    height: 60px;
    width: 24px;
    opacity: .5;
    font-weight: 300;
    text-align: center;
    padding-top: 24px;
    transition: opacity .2s ease-in
}
.preview-container.appear,
.preview-container.disappear {
    webkit-animation-delay: .1s;
    webkit-animation-fill-mode: both;
    transform-origin: bottom right;
    bottom: 75px
}
.preview-container .h-reply-wrapper .h-reply .h-reply-smiley {
    right: 15px;
    top: 0;
    padding-top: 15px;
    height: 54px;
    opacity: .6
}
.preview-container .h-reply-wrapper .h-reply .h-reply-attach {
    right: 50px;
    top: 0;
    padding-top: 15px;
    height: 54px;
    opacity: .6
}
.preview-container .h-reply-wrapper .h-reply .h-reply-container {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 4px;
    z-index: 20;
    border-radius: 5px;
    top: 3px;
    opacity: .4
}
.preview-container .h-reply-wrapper .h-reply .h-reply-container.show-highlight {
    background: #e5e9f1;
    opacity: .9
}
.preview-container .h-reply-wrapper .h-reply .h-reply-send {
    right: 0;
    width: 50px;
    padding: 13px 12px;
    text-align: center;
    opacity: .7;
    top: 0;
    height: 50px
}
.preview-container .h-reply-wrapper .h-reply .h-reply-attach:hover,
.preview-container .h-reply-wrapper .h-reply .h-reply-smiley:hover {
    cursor: pointer;
    opacity: 1
}
.preview-container .preview-bubble {
    width: 100%;
    margin: 0;
    color: #FFF;
    padding: 1px 16px 10px 55px;
    border-radius: 20px 20px 0 0;
    line-height: 16px;
    cursor: pointer
}
.preview-container .preview-bubble.hide-pic {
    padding-left: 20px
}
.preview-container .preview-bubble .u-agent-avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    z-index: 0;
    margin-right: 5px;
    height: 48px
}
.preview-container .preview-bubble .u-agent-avatar::after {
    content: " ";
    width: 56px;
    height: 56px;
    border-radius: 50% 6px 50% 50%;
    display: table;
    vertical-align: middle;
    background-position: center center;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    color: #fefefe;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 19px;
    margin-top: -19px;
    margin-left: -9px
}
.preview-container .preview-bubble .u-agent-avatar .avatar-content-wrap {
    margin-top: -15px;
    margin-left: -5px;
    width: 48px;
    height: 48px;
    display: inline-block
}
.preview-container .preview-bubble .minimize {
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 10
}
.preview-container .preview-bubble .minimize:hover .icon {
    opacity: 1
}
.preview-container .preview-bubble .icon {
    cursor: pointer;
    font-size: 16px
}
.preview-container .preview-bubble .icon.mild {
    opacity: .5
}
.preview-container .preview-bubble .icon:hover {
    opacity: 1
}
.preview-container .preview-bubble h3 {
    word-break: break-word;
    word-break: break-all;
    font-size: 12px;
    font-weight: 700;
    opacity: .5;
    margin: 12px 0 8px;
    width: 250px;
    position: relative;
    z-index: 1
}
.preview-container .preview-bubble .h-message-text {
    padding-left: 0;
    margin-bottom: 5px;
    word-break: break-word
}
.preview-container .preview-bubble .h-message-text a {
    color: inherit;
    text-decoration: underline
}
.preview-container .preview-bubble p {
    word-break: break-all;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-size: 13px;
    margin: 0;
    max-height: 48px;
    overflow-y: auto
}
.preview-container.appear {
    animation: appear .15s cubic-bezier(.43, .43, .7, .7);
    animation-delay: .1s;
    animation-fill-mode: both;
    webkit-animation: appear .15s cubic-bezier(.43, .43, .7, .7)
}
.preview-container.appear .h-reply-wrapper .h-reply .image {
    top: 3px
}
.preview-container.appear .h-reply-wrapper .h-reply .ce-textarea {
    border-radius: 0 0 4px 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    min-height: 54px;
    max-height: 93px;
    padding-left: 20px
}
.preview-container.disappear {
    animation: disappear .2s cubic-bezier(.43, .43, .7, .7);
    animation-delay: .1s;
    animation-fill-mode: both;
    webkit-animation: appear .2s cubic-bezier(.43, .43, .7, .7)
}
.d-hotline.h-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    z-index: 9995;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .26);
    cursor: pointer;
    border-radius: 34px 8px 34px 34px;
    color: #FFF;
    padding: 7px 10px 10px;
    display: table
}
.d-hotline.h-btn .chat-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 23px;
    padding: 5px 0 0 2px
}
.d-hotline.h-btn .chat-content img {
    margin-top: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50% 4px 50% 50%
}
.d-hotline.h-btn .h-btn-notify {
    position: absolute;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    text-align: center;
    font-size: 8px;
    right: -5px;
    font-weight: 700;
    top: 8px;
    background: #ff1a00;
    background: -moz-linear-gradient(top, #ff1a00 0, #ff1a00 100%);
    background: -webkit-linear-gradient(top, #ff1a00 0, #ff1a00 100%);
    background: linear-gradient(to bottom, #ff1a00 0, #ff1a00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=0)
}
.d-hotline.h-btn .chat-logo {
    background-image: url(/assets/images/ic_chat-172f484d12c2779ae6e44bdedd254d30.png);
    background-size: 19px 17px;
    height: 17px;
    width: 19px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle
}
.d-hotline.h-btn .h-close,
.d-hotline.h-btn .h-hotline-logo {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: opacity .08s linear, -webkit-transform .16s linear;
    transition: transform .16s linear, opacity .08s linear;
    transition: transform .16s linear, opacity .08s linear, -webkit-transform .16s linear;
    background-position: 50%
}
.d-hotline.h-btn .h-hotline-logo {
    background-image: url(/assets/images/hotline_logo-c5b63400f248316669773e8a9f9d2571.png);
    background-size: 50px 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: block;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1)
}
.d-hotline.h-btn .h-close {
    background-image: url(/assets/images/h-close-2e247ac76f7dd05940936bf9dc0b6702.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    height: 50px
}
.d-hotline.h-open .h-hotline-logo {
    opacity: 0;
    -webkit-transform: rotate(30deg) scale(0);
    transform: rotate(30deg) scale(0)
}
.d-hotline.h-open .h-close {
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}
.viewport.h-chat-custom {
    background: #FFF;
    position: absolute;
    height: calc(100% - 20px)!important;
    bottom: -80px!important;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    min-height: 450px!important;
    max-height: 700px!important;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .16)!important;
    transition: all 150ms ease-in
}
.viewport.h-chat-custom.h-open {
    bottom: 20px!important;
    opacity: 1;
    z-index: 9999!important
}
.viewport.h-chat-custom .help-text {
    width: 100%;
    top: 100px;
    text-align: center;
    background: rgba(6, 25, 37, .75);
    font-size: 13px;
    z-index: 20;
    position: absolute;
    padding: 6px 5px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center
}
.viewport.h-chat-custom .help-text a {
    color: #FFF
}
.viewport.h-chat-custom .help-text a:hover {
    text-decoration: underline
}
.hotline-launcher {
    z-index: 9996!important;
    position: fixed!important;
    right: 15px!important;
    height: 100%!important;
    bottom: 0;
    width: 390px!important;
    border-radius: 5px!important;
    display: none;
    transition: all 195ms ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.h-categories ul li,
.h-categories ul li:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}
.hotline-launcher div.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    color: #666
}
.hotline-launcher.h-open {
    display: block
}
.h-categories {
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 37px
}
.h-categories ul {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%
}
.h-categories ul li {
    width: 100%;
    border-bottom: 1px solid #f0f0f1;
    transition: all .2s ease-in-out
}
.h-categories ul li:hover {
    background: #F2F5F7;
    cursor: pointer;
    transition: all .2s ease-in-out
}
.h-category-item {
    display: table;
    width: 100%;
    position: relative;
    padding: 15px 0
}
.h-category-item .h-category-icon {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 10px 20px;
    width: 65px
}
.h-category-item .h-category-icon .img-circle {
    border-radius: 3px;
    height: auto;
    max-height: 100%
}
.h-category-item .h-category-detail {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0
}
.h-category-item .h-category-detail h1,
.h-category-item .h-category-detail h2 {
    width: 300px
}
.h-category-item .h-category-detail h1 {
    font-size: 15px;
    color: #111;
    margin: 5px 0 2px;
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.h-category-item .h-category-detail h2 {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    color: #7C818B
}
.h-category-item .h-category-detail.aw h1,
.h-category-item .h-category-detail.aw h2 {
    width: 240px
}
.h-category-item .h-notify {
    margin-top: 3px;
    height: 16px;
    min-width: 20px;
    font-size: 10px;
    padding: 3px 5px;
    color: #FFF;
    font-weight: 700;
    background: #e63434;
    border-radius: 8px;
    text-align: center
}
.h-category-item .h-conv-user {
    position: absolute;
    right: 15px;
    text-align: right;
    top: 26px
}
.h-category-item .h-conv-user .time-stamp {
    color: #78909c;
    font-size: 11px;
    margin-bottom: 3px
}
.h-category-item .h-conv-user .h-user {
    position: relative
}
.h-category-item .h-conv-user .h-user .agent-circle {
    border-radius: 50% 4px 50% 50%;
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 8px;
    overflow: hidden;
    display: inline-block
}
.h-category-item .h-conv-user .h-user .h-notify,
.h-category-item .h-conv-user .h-user .u-agent-avatar {
    float: right
}
.h-category-item .h-conv-user .h-user img {
    width: auto
}
.h-header .ic-back {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    color: #FFF;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: -13px;
    margin-left: -8px;
    padding: 8px;
    top: 5px
}
.body .h-chat-window {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 0;
    bottom: 70px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden
}
.body .h-chat-window .h-conv-chat {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-duration: .32s;
    animation-duration: .32s;
    -webkit-animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -webkit-animation-delay: .23s;
    animation-delay: .23s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    padding: 15px 15px 25px;
    width: 390px;
    display: table-cell
}
.body .h-reply-wrapper,
.h-chat-window .h-conv-chat {
    -webkit-animation-timing-function: cubic-bezier(.23, 1, .32, 1)
}
.body .h-reply-wrapper {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-name: h-slide-in;
    animation-name: h-slide-in;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.body .h-reply-wrapper .h-reply {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    max-height: 200px;
    -webkit-transition: .6s;
    border-radius: 0;
    transition: .6s;
    padding: 0 8px 8px
}
.body .h-reply-wrapper .h-reply .placeholder {
    position: absolute;
    z-index: 11;
    top: 23px;
    left: 23px;
    color: #b0bac3;
    -webkit-transition: .6s;
    transition: .6s
}
.body .h-reply-wrapper .h-reply .h-reply-attach,
.body .h-reply-wrapper .h-reply .h-reply-send,
.body .h-reply-wrapper .h-reply .h-reply-smiley {
    color: #37474f;
    font-size: 18px;
    position: absolute;
    z-index: 20;
    top: 0;
    height: 60px;
    width: 24px;
    opacity: .6;
    font-weight: 300;
    text-align: center;
    padding-top: 18px;
    transition: opacity .2s ease-in
}
.body .h-reply-wrapper .h-reply .h-reply-smiley {
    right: 20px
}
.body .h-reply-wrapper .h-reply .h-reply-attach {
    right: 55px
}
.body .h-reply-wrapper .h-reply .h-reply-container {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    z-index: 20;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 2px;
    opacity: .4
}
.body .h-reply-wrapper .h-reply .h-reply-container.show-highlight {
    background: #e5e9f1;
    opacity: .9
}
.body .h-reply-wrapper .h-reply .h-reply-send {
    right: 0;
    width: 50px;
    padding: 13px 10px;
    text-align: center;
    height: 50px
}
.body .h-reply-wrapper .h-reply pre,
.h-reply-wrapper .h-reply .ce-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.33;
    font-weight: 400;
    word-wrap: break-word
}
.body .h-reply-wrapper .h-reply .h-reply-attach:hover,
.body .h-reply-wrapper .h-reply .h-reply-smiley:hover {
    cursor: pointer;
    opacity: 1
}
.body .h-reply-wrapper .h-reply pre {
    visibility: hidden;
    padding: 20px 90px 20px 20px;
    white-space: pre;
    white-space: pre-wrap
}
@-webkit-keyframes h-slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes h-slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
.h-reply-wrapper .h-reply .ce-textarea {
    position: relative;
    min-height: 60px;
    max-height: 190px;
    bottom: 0;
    left: 0;
    color: #565867;
    background-color: rgba(255, 255, 255, .9);
    resize: none;
    border: none;
    border-radius: 5px;
    white-space: pre;
    white-space: pre-wrap;
    overflow-y: auto;
    transition: .6s;
    z-index: 10;
    padding: 20px 90px 20px 15px
}
.preview div.image div.image-actions,
.preview div.image:hover div.image-actions {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}
.h-reply-wrapper .h-reply .ce-textarea:focus {
    outline: 0;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(150, 165, 190, .5)
}
.ic-attach,
.ic-send,
.ic-smiley {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    height: 24px;
    display: block
}
.ic-attach {
    background-image: url(/assets/images/ic_attachment-4e36c3889354cec198ac9b3eb9e43f8f.png)
}
.ic-smiley {
    background-image: url(/assets/images/ic_smiley-2c0e2425cdb2c5ee81778e25acec4077.png)
}
.ic-send {
    background-image: url(/assets/images/ic_send-161676e3e935251a6b24ec7bc8eabb3f.png)
}
.preview div.image {
    border: 1px solid #EEE;
    border-radius: 4px;
    width: 70px;
    background: #EEE;
    position: absolute;
    top: 2px;
    height: 56px;
    padding: 0;
    left: 10px;
    z-index: 11;
    overflow: hidden;
    display: inline-block
}
.preview div.image:hover div.image-actions {
    display: table;
    transition: all .2s ease-in-out
}
.preview div.image img {
    display: block;
    margin: auto;
    max-width: 100px;
    min-width: 70px
}
.preview div.image div.image-actions {
    display: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer
}
.image-actions span.icons {
    width: 50%;
    text-align: Center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.h-conv-chat .agent-chat .agent-comment:after,
.h-conv-chat .agent-chat .agent-comment:before,
.h-conv-chat .agent-chat .agent-conv ul li:after,
.h-conv-chat .agent-chat .agent-conv ul li:before,
.h-conv-chat .img-content:after,
.h-conv-chat .img-content:before,
.h-conv-chat .user-chat .user-comment:after,
.h-conv-chat .user-chat .user-comment:before,
.h-conv-chat .user-chat .user-conv ul li:after,
.h-conv-chat .user-chat .user-conv ul li:before {
    display: table;
    content: " "
}
.image-actions span.icons:hover {
    background: rgba(0, 0, 0, .5)
}
.preview .ce-textarea {
    padding-left: 85px!important;
    -webkit-transition: .6s;
    transition: .6s
}
.preview .placeholder {
    left: 93px!important;
    -webkit-transition: .6s;
    transition: .6s
}
.h-chat-window .h-conv-chat {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-duration: .32s;
    animation-duration: .32s;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -webkit-animation-delay: .23s;
    animation-delay: .23s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    padding: 20px 20px 40px;
    height: 100%
}
.fadeFromBottom,
.h-conv-chat .user-chat .user-conv {
    -webkit-transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(.23, 1, .32, 1)
}
.animated,
.h-conv-chat .user-chat .user-conv {
    -webkit-animation-duration: .4s;
    -webkit-animation-fill-mode: both
}
.h-conv-chat .agent-chat .agent-conv .time,
.h-conv-chat .agent-chat .agent-conv:hover .time {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}
.h-conv-chat .user-chat .user-conv {
    transform: translateY(0);
    -webkit-animation-name: h-slide-in;
    animation-name: h-slide-in;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    animation-fill-mode: both
}
.h-conv-chat .img-content {
    margin-top: 0
}
.h-conv-chat .agent-chat {
    float: left;
    width: 100%;
    padding-left: 33px;
    position: relative;
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 1.3;
    padding-right: 16%
}
.h-conv-chat .agent-chat .multiple li:first-child .agent-comment {
    border-radius: 4px 25px 25px 0!important;
    margin-bottom: 2px
}
.h-conv-chat .agent-chat .multiple li .agent-comment {
    border-radius: 0 25px 25px 0!important;
    margin-bottom: 2px;
    float: left
}
.h-conv-chat .agent-chat .multiple li:last-child .agent-comment {
    border-radius: 0 25px 25px!important
}
.h-conv-chat .agent-chat .agent-name {
    font-size: 11px;
    font-weight: 400;
    margin: 0 0 5px;
    color: #455a64
}
.h-conv-chat .agent-chat .agent-pic {
    position: absolute;
    left: 0;
    top: 13px;
    border-radius: 50% 4px 50% 50%;
    width: 30px;
    height: 30px;
    overflow: hidden
}
.h-conv-chat .agent-chat .agent-pic img {
    width: auto;
    height: 30px
}
.h-conv-chat .agent-chat .agent-conv,
.h-conv-chat .user-chat .user-conv {
    position: relative
}
.h-conv-chat .agent-chat .agent-comment {
    padding: 16px;
    color: #FFF;
    border-radius: 4px 25px 25px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .05);
    display: inline-block;
    float: left
}
.h-conv-chat .agent-chat .agent-conv ul,
.h-conv-chat .user-chat .user-conv ul {
    margin: 0;
    list-style-type: none
}
.h-conv-chat .agent-chat .agent-conv .time {
    display: none;
    margin-left: 10px;
    transition: all .2s ease-in-out
}
.h-conv-chat .agent-chat .agent-conv:hover .time {
    display: inline-block;
    transition: all .2s ease-in-out
}
.h-conv-chat .h-chat .time,
.h-conv-chat .h-chat:hover .time {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}
.h-conv-chat .user-chat .time {
    font-size: 11px;
    margin-top: 0;
    color: #455a64;
    text-align: right
}
.sticker-1,
.sticker-2,
.sticker-3 {
    background-color: transparent!important;
    box-shadow: none!important;
    padding: 0!important
}
.sticker-1 .emojiCe {
    height: 80px;
    width: 80px
}
.sticker-2 .emojiCe {
    height: 60px;
    width: 60px
}
.sticker-3 .emojiCe {
    height: 40px;
    width: 40px
}
.h-sticker {
    font-size: 64px;
    line-height: 64px;
    margin-top: 5px;
    margin-bottom: -6px
}
.h-sticker-2,
.h-sticker-3 {
    margin-top: 5px;
    margin-bottom: 0
}
.h-sticker-2 {
    font-size: 48px;
    line-height: 48px
}
.h-sticker-3 {
    font-size: 32px;
    line-height: 32px
}
.h-conv-chat .user-chat .h-sticker,
.h-conv-chat .user-chat .h-sticker-2,
.h-conv-chat .user-chat .h-sticker-3 {
    float: right;
    margin-left: 5px
}
.h-conv-chat .agent-chat .h-sticker,
.h-conv-chat .agent-chat .h-sticker-2,
.h-conv-chat .agent-chat .h-sticker-3 {
    float: left;
    margin-right: 5px
}
.h-conv-chat .user-chat {
    float: right;
    width: 100%;
    padding-left: 16%;
    position: relative;
    padding-bottom: 3px;
    font-size: 13px;
    line-height: 1.3
}
.h-conv-chat .user-chat .user-comment {
    padding: 16px;
    border-radius: 25px 25px 4px;
    background-color: #FFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
    display: inline-block;
    float: right
}
.h-conv-chat .user-chat .multiple ul li .user-comment {
    border-radius: 25px 0 0 25px!important;
    margin-bottom: 4px;
    float: right
}
.h-conv-chat .user-chat .multiple ul li:first-child .user-comment {
    border-radius: 25px 25px 0!important;
    margin-bottom: 4px;
    float: right
}
.h-conv-chat .user-chat .multiple ul li:last-child .user-comment {
    border-radius: 25px 0 4px 25px!important;
    margin-bottom: 0;
    float: right
}
.h-conv-chat .date-container {
    width: 100%;
    float: left;
    text-align: center;
    margin: 15px 0
}
.h-conv-chat .date-container .h-date {
    background: #dee5e8;
    padding: 3px 15px;
    font-size: 11px;
    border-radius: 20px;
    color: #546e7a
}
.h-btn .preview-bubble {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 200px;
    margin-bottom: 3px;
    color: #FFF;
    padding: 16px;
    border-radius: 20px 20px 4px;
    line-height: 14px
}
.h-btn .preview-bubble h3 {
    font-size: 11px;
    opacity: .4;
    margin: 0 0 3px
}
.h-btn .preview-bubble p {
    font-size: 13px;
    margin: 0
}
.h-divide span.date,
.h-divide span.text {
    font-size: 12px;
    font-weight: 600
}
.h-btn .preview-bubble .minimize {
    position: absolute;
    right: 16px;
    top: 14px;
    opacity: .3
}
.h-btn .preview-bubble .minimize:hover .icon {
    opacity: 1
}
.h-btn .preview-bubble img.user {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    margin-right: 5px
}
.h-divide {
    width: 100%;
    display: inline-block;
    text-align: center
}
.h-divide ul {
    list-style-type: none;
    display: table;
    width: 100%;
    margin: 15px 0
}
.h-divide ul li {
    display: table-cell;
    width: 30%;
    vertical-align: middle
}
.h-divide ul li:first-child,
.h-divide ul li:last-child {
    width: auto
}
.h-divide .line {
    border-top: 1px dotted #0fa500;
    display: block;
    height: 1px
}
.h-divide .d-line-left {
    display: block;
    height: 1px;
    background: #fff;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, #f6f6f6 16%, #999 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(16%, #f6f6f6), color-stop(100%, #999));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, #f6f6f6 16%, #999 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, #f6f6f6 16%, #999 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, #f6f6f6 16%, #999 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #f6f6f6 16%, #999 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999', GradientType=1)
}
.h-divide .d-line-right {
    display: block;
    height: 1px;
    background: #999;
    background: -moz-linear-gradient(left, #999 0, #f6f6f6 84%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #999), color-stop(84%, #f6f6f6), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, #999 0, #f6f6f6 84%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, #999 0, #f6f6f6 84%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, #999 0, #f6f6f6 84%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #999 0, #f6f6f6 84%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#ffffff', GradientType=1)
}
.h-conv-chat .h-chat .h-comment.emojis,
.h-conv-chat .h-chat .h-conv.multiple li .h-comment.emojis {
    background-color: transparent!important
}
.h-divide span.text {
    color: #0fa500
}
.h-conv-chat .h-chat {
    float: left;
    width: 100%;
    padding-left: 33px;
    position: relative;
    padding-right: 16%;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 1.4
}
.h-conv-chat .h-chat .agent-pic {
    position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50% 4px 50% 50%;
    overflow: hidden
}
.h-conv-chat .h-chat .agent-pic img {
    width: auto;
    height: 30px
}
.h-conv-chat .h-chat .time {
    font-size: 11px;
    margin-top: 0;
    color: #455a64;
    text-align: right;
    position: absolute;
    left: 33px;
    bottom: 5px;
    line-height: 1;
    display: none;
    transition: all .2s ease-in-out
}
.circle-loading,
.h-conv-chat .h-chat .h-conv {
    position: relative
}
.h-conv-chat .h-chat:hover .time {
    display: block;
    padding-left: 10px;
    text-align: left!important;
    transition: all .2s ease-in-out
}
.chat-btn,
.h-conv-chat .odd .h-chat .h-conv.multiple:hover .time {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}
.h-conv-chat .h-chat .h-conv ul {
    margin: 0;
    list-style-type: none
}
.h-conv-chat .h-chat .h-conv ul li:after,
.h-conv-chat .h-chat .h-conv ul li:before {
    display: table;
    content: " "
}
.h-conv-chat .h-chat .h-conv.multiple li .h-comment {
    border-radius: 4px 20px 20px 4px;
    margin-bottom: 2px;
    float: left
}
.h-conv-chat .h-chat .h-conv.multiple li:first-child .h-comment {
    border-radius: 8px 20px 20px 4px;
    margin-bottom: 2px
}
.h-conv-chat .h-chat .h-conv.multiple li:last-child .h-comment {
    border-radius: 4px 20px 20px
}
.h-conv-chat .h-chat .h-conv .agent-name {
    font-size: 11px;
    font-weight: 400;
    margin: 0 0 2px;
    color: #455a64;
    line-height: 1
}
.h-conv-chat .h-chat .h-comment {
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 8px 20px 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .05);
    display: inline-block;
    line-height: 1.25;
    float: left
}
.h-conv-chat .h-chat .h-comment:after,
.h-conv-chat .h-chat .h-comment:before {
    display: table;
    content: " "
}
.ember-content-editable.clear-on-focus[contenteditable=true]:empty:focus:before,
.ember-content-editable:empty:after,
[contenteditable=true]:empty:not(:focus):before,
[contenteditable=true]:focus:empty:before {
    content: none
}
.h-conv-chat .h-chat .h-sticker,
.h-conv-chat .h-chat .h-sticker-2,
.h-conv-chat .h-chat .h-sticker-3 {
    float: left;
    margin-right: 5px
}
.h-conv-chat .odd .h-chat {
    float: right;
    padding-left: 16%;
    padding-bottom: 3px;
    padding-right: 0
}
.h-conv-chat .odd .h-chat .time {
    text-align: right!important;
    position: relative;
    display: block;
    right: 0;
    left: 0;
    margin-top: 7px
}
.h-conv-chat .odd .h-chat:hover .time {
    text-align: right!important
}
.h-conv-chat .odd .h-chat .h-sticker,
.h-conv-chat .odd .h-chat .h-sticker-2,
.h-conv-chat .odd .h-chat .h-sticker-3 {
    float: right;
    margin-left: 5px
}
.h-conv-chat .odd .h-chat .h-conv.multiple li .h-comment {
    background-color: #FFF!important;
    color: #1F2B36!important;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
    display: inline-block;
    border-radius: 20px 4px 4px 20px!important;
    margin-bottom: 4px;
    float: right
}
.h-conv-chat .odd .h-chat .h-conv.multiple li .h-comment.emojis {
    background-color: transparent!important
}
.h-conv-chat .odd .h-chat .h-conv.multiple li:first-child .h-comment {
    border-radius: 20px 20px 4px!important;
    margin-bottom: 4px
}
.h-conv-chat .odd .h-chat .h-conv.multiple li:last-child .h-comment {
    border-radius: 20px 4px 8px 20px!important;
    margin-bottom: 0
}
.h-conv-chat .odd .h-chat .h-conv.multiple:hover .time {
    text-align: right!important;
    transition: all .2s ease-in-out
}
.h-conv-chat .h-chat .h-conv .h-comment {
    max-width: 270px
}
.h-conv-chat .h-chat .h-conv .h-comment .h-message-text {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word
}
.h-conv-chat .h-chat .h-conv .h-comment .h-message-text a {
    text-decoration: underline;
    color: inherit
}
.h-conv-chat .h-chat .h-conv .h-comment.emojis {
    box-shadow: none!important;
    padding: 8px 0!important;
    margin: 0!important
}
.h-conv-chat .h-chat .h-conv .h-comment.emojis-1 img {
    width: 50px;
    height: 50px
}
.h-conv-chat .h-chat .h-conv .h-comment.emojis-2 img {
    width: 40px;
    height: 40px
}
.h-conv-chat .h-chat .h-conv .h-comment.emojis-3 img {
    width: 30px;
    height: 30px
}
.h-conv-chat .odd .agent-name {
    font-size: 11px;
    font-weight: 400;
    margin: 0 0 5px;
    color: #455a64
}
.chat-btn,
.chat-btn:active {
    color: #263238;
    text-decoration: none
}
.chat_img_wrp {
    max-height: 200px;
    overflow: hidden;
    background: #ccc;
    margin: 8px 0;
    border-radius: 4px
}
.chat_img_wrp .chat_img {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: initial
}
.chat-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #FFF;
    border-radius: 8px;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-in-out
}
.chat-btn:hover {
    background: #333;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.notification-container .btn-container .btn-left:hover,
.notification-container .btn-container .btn-right:hover {
    cursor: hover
}
.circle-loading {
    width: 12px;
    height: 12px;
    border: 2px solid #CCC;
    border-radius: 50%;
    -webkit-animation: spin .4s infinite linear;
    display: inline-block;
    border-top-color: #333;
    margin-left: 5px;
    margin-top: 0;
    vertical-align: middle
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.animated {
    animation-duration: .4s;
    animation-fill-mode: both
}
.fadeFromBottom,
.fadeIn {
    -webkit-animation-fill-mode: both
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    animation-fill-mode: both
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}
.csat-rating,
.fadeFromBottom {
    -webkit-animation-name: h-slide-in;
    -webkit-animation-delay: .2s
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    1% {
        opacity: 0;
        transform: scale(.1)
    }
    to {
        display: block;
        opacity: 1;
        transform: scale(1)
    }
}
@-webkit-keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    1% {
        opacity: 0;
        transform: scale(.1)
    }
    to {
        display: block;
        opacity: 1;
        transform: scale(1)
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    1% {
        opacity: 1;
        transform: scale(.9)
    }
    to {
        display: none;
        opacity: 0;
        transform: scale(0)
    }
}
@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    1% {
        opacity: 1;
        transform: scale(.9)
    }
    to {
        display: none;
        opacity: 0;
        transform: scale(0)
    }
}
@-webkit-keyframes launcher-frame-appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes launcher-frame-appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@media only screen and (max-device-width: 667px) {
    .body .h-reply-wrapper .h-reply .placeholder,
    .form-control {
        font-size: 16px
    }
    .hotline-launcher {
        height: 100%!important;
        width: 100%!important;
        min-height: 100px!important;
        right: 0!important
    }
    .preview-container {
        width: calc(100% - 50px)
    }
    .article-modal {
        width: 98%!important;
        height: 100%!important;
        max-height: 98vh!important
    }
    .article-modal .modal-header {
        padding: 20px!important
    }
    .article-modal .h-close {
        top: 20px!important;
        right: 20px!important
    }
    .article-modal .modal-body {
        padding: 20px!important;
        height: calc(100% - 65px)!important;
        max-height: 100vh!important
    }
    .article-modal .h-modal-notes {
        padding: 0 0 60px!important
    }
    .article-modal .modal-footer {
        height: 60px!important;
        padding: 15px 20px!important
    }
    .hotline-launcher,
    .viewport.h-chat-custom {
        transition: none!important
    }
    .viewport.h-chat-custom.h-open {
        height: 100%!important;
        bottom: 0!important;
        min-height: 100px!important
    }
    .image-actions {
        display: table!important
    }
    .h-conv-chat .h-chat {
        padding-right: 12%
    }
    .h-conv-chat .odd .h-chat {
        padding-left: 12%
    }
    .h-channel .h-header,
    .h-conv .h-header {
        height: 100px!important
    }
    .h-channel .h-header .title,
    .h-conv .h-header .title {
        padding: 15px 20px!important
    }
    .body .h-chat-window {
        top: 100px!important
    }
    .h-channel div.body,
    .h-conv div.body {
        padding: 100px 0 0!important
    }
    .h-reply-wrapper .h-reply .ce-textarea {
        padding: 20px 55px 20px 15px;
        font-size: 16px
    }
    .tabs,
    div.h-channel .h-header,
    div.h-conv .h-header {
        border-radius: 0!important
    }
    .body .h-chat-window .h-conv-chat {
        display: table;
        width: 100%
    }
}
.article-modal,
.fc_web_modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.notification-container {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    border-top: 1px dotted #CCC;
    border-bottom: 1px dotted #CCC;
    padding: 20px 0;
    margin: 5px 0
}
.notification-container .btn-container {
    margin-top: 10px;
    overflow: hidden
}
.notification-container .btn-container .btn-left {
    float: left;
    color: #FFF
}
.notification-container .btn-container .btn-right {
    float: right;
    background: #E1E4E9
}
.notification-container .btn-container .btn-left,
.notification-container .btn-container .btn-right {
    cursor: pointer;
    width: 48%;
    padding: 8px;
    border-radius: 3px
}
.fc_web_modal {
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    outline: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(23, 30, 34, .92);
    width: 100%;
    height: 100%
}
.fc_web_modal .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    overflow: hidden
}
.fc_web_modal .image-wrapper .image-cell {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section {
    display: block
}
.fc_web_modal .image-wrapper .image-cell img {
    max-height: 100%;
    max-width: 100%
}
.article-modal {
    background: #fff;
    max-height: 90vh;
    min-height: 50%;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}
.article-modal .chat_double {
    margin: 0 1px 0 0;
    font-size: 18px;
    position: relative;
    vertical-align: middle
}
.article-modal .h-close {
    float: right;
    font-size: 18px;
    margin-right: 0;
    cursor: pointer;
    opacity: .5;
    position: absolute;
    right: 25px;
    top: 25px
}
.article-modal .h-close:hover {
    opacity: 1
}
.article-modal .modal-header {
    padding: 25px 30px;
    border-bottom: 1px dotted #e5e5e5
}
.article-modal .modal-header .modal-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
    padding-right: 40px;
    display: block
}
.article-modal .modal-body {
    padding: 25px 30px;
    height: calc(100% - 75px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    line-height: 1.4;
    max-height: 70vh
}
.article-modal .modal-footer {
    padding: 25px 30px;
    background: #eff7fd;
    border-top: 1px solid #dee4e8;
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 80px
}
.article-modal .modal-footer .h-message-us {
    float: right;
    padding: 0
}
.article-modal .modal-footer .h-message-us-btn {
    padding: 8px 12px;
    color: #FFF;
    border-radius: 5px;
    line-height: 12px;
    cursor: pointer
}
.article-modal .h-modal-notes {
    padding: 0 0 80px;
    position: relative;
    height: 100%
}
a,
hr {
    padding: 0
}
a:focus,
a:hover {
    color: #525252
}
.fadeFromBottom {
    opacity: 1;
    transform: translateY(0);
    animation-name: h-slide-in;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    animation-delay: .2s;
    animation-fill-mode: both
}
.theme-1 {
    background-color: #47CDE3
}
.theme-2 {
    background-color: #7883D1
}
.theme-3 {
    background-color: #E45E53
}
.theme-4 {
    background-color: #FDA70D
}
.theme-5 {
    background-color: #47B5AA
}
.theme-6 {
    background-color: #A2877C
}
.theme-7 {
    background-color: #5E94F9
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/ProximaNova-Semibold-35e7b1736de413371ed7206338270ee2.eot);
    src: url(fonts/ProximaNova-Semibold-35e7b1736de413371ed7206338270ee2.eot?#iefix) format("embedded-opentype"), url(fonts/ProximaNova-Semibold-aa5bde9a306f048bd3178e4f11a22b36.woff) format("woff"), url(fonts/ProximaNova-Semibold-ccee33614ea9d146e4bf5a90d7591613.ttf) format("truetype"), url(fonts/ProximaNova-Semibold-fc4c8966b593a855a648103662af963c.svg#ProximaNova-Semibold) format("svg");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/ProximaNova-Bold-55092bd334c0ab4f50b511976ba3da5e.eot);
    src: url(fonts/ProximaNova-Bold-55092bd334c0ab4f50b511976ba3da5e.eot?#iefix) format("embedded-opentype"), url(fonts/ProximaNova-Bold-5518074635b6b10c81162737b2c9790d.woff) format("woff"), url(fonts/ProximaNova-Bold-995efb348d381756e153b0af42fd890c.ttf) format("truetype"), url(fonts/ProximaNova-Bold-48f1ef6fc140979c12f4cc864f9cf988.svg#ProximaNova-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/ProximaNova-Regular-5a93c1ba841269694e5805d7ebb07918.eot);
    src: url(fonts/ProximaNova-Regular-5a93c1ba841269694e5805d7ebb07918.eot?#iefix) format("embedded-opentype"), url(fonts/ProximaNova-Regular-96ca4bb72b41dff61f52d5d976bd1f54.woff) format("woff"), url(fonts/ProximaNova-Regular-68ce744ced4ed7fb6e50f2ecc4af90ec.ttf) format("truetype"), url(fonts/ProximaNova-Regular-0fbb629b9619eb7551e593fa0053b80f.svg#ProximaNova-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/ProximaNova-Light-9b4e903cd76b4cfdfbb595c7eae43ce6.eot);
    src: url(fonts/ProximaNova-Light-9b4e903cd76b4cfdfbb595c7eae43ce6.eot?#iefix) format("embedded-opentype"), url(fonts/ProximaNova-Light-177c15073531b59b95acea8f852730eb.woff) format("woff"), url(fonts/ProximaNova-Light-cee4ff011daf12b08773f4a8c259867b.ttf) format("truetype"), url(fonts/ProximaNova-Light-6f418557bc17b270d1d5d9b071c833f0.svg#ProximaNova-Light) format("svg");
    font-weight: 300;
    font-style: normal
}
::-webkit-scrollbar {
    width: 6px
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .1)
}
::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px
}
.has-error input[type=text].form-control,
.has-error textarea[type=text].form-control {
    border-color: #ccc
}
[contenteditable=true] {
    cursor: text
}
.ember-content-editable:empty {
    color: #a9a9a9
}
abbr,
address,
article,
aside,
audio,
b,
blockquote,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
ins,
mark {
    background-color: #ff9;
    color: #000
}
html {
    height: auto;
    min-height: 100%
}
body {
    line-height: 1
}
nav ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
ins {
    text-decoration: none
}
mark {
    font-style: italic;
    font-weight: 700
}
del {
    text-decoration: line-through
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-spacing: 0
}
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0
}
input,
select {
    vertical-align: middle
}
.clear:after,
.clear:before {
    content: " ";
    display: table
}
div.h-channel,
div.h-conv {
    height: 100%
}
div.h-channel>div,
div.h-conv>div {
    width: 100%
}
div.h-channel .h-header,
div.h-conv .h-header {
    min-height: 100px;
    transition: .4s all;
    width: 100%;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 100;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3)
}
div.h-channel .h-header.h-expand,
div.h-conv .h-header.h-expand {
    overflow: hidden;
    min-height: 150px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .25)
}
div.h-channel .h-header.h-expand div.u-agent-avatar,
div.h-conv .h-header.h-expand div.u-agent-avatar {
    width: 60px;
    transition: .25s ease-in-out
}
div.h-channel .h-header.h-expand div.u-agent-avatar .agent-circle,
div.h-conv .h-header.h-expand div.u-agent-avatar .agent-circle {
    width: 63px;
    height: 63px;
    border-radius: 50% 8px 50% 50%
}
div.h-channel .h-header.h-expand .title,
div.h-conv .h-header.h-expand .title {
    padding: 15px 20px
}
div.h-channel .h-header.h-expand .title .list-title,
div.h-conv .h-header.h-expand .title .list-title {
    transition: .25s ease-in-out;
    font-size: 14px;
    font-weight: 400;
    opacity: .5
}
div.h-channel .h-header.h-expand .title .u-profile-info .u-agent-name,
div.h-conv .h-header.h-expand .title .u-profile-info .u-agent-name {
    font-size: 22px;
    font-weight: 700;
    margin: 5px 0 3px
}
div.h-channel .h-header.h-expand .title .u-profile-info .u-agent-designation,
div.h-conv .h-header.h-expand .title .u-profile-info .u-agent-designation {
    font-size: 13px;
    opacity: .75;
    font-weight: 600;
    margin: 0 0 12px
}
div.h-channel .h-header.h-expand .title .u-profile-info .u-agent-bio,
div.h-conv .h-header.h-expand .title .u-profile-info .u-agent-bio {
    font-size: 13px;
    margin: 0 0 10px;
    line-height: 1.3
}
div.h-channel .h-header.h-expand .title .u-social-network div,
div.h-conv .h-header.h-expand .title .u-social-network div {
    float: left;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    margin: 5px 5px 5px 0;
    opacity: 1;
    transition: .25s all
}
div.h-channel .h-header.h-expand .title .u-social-network div.u-fb,
div.h-conv .h-header.h-expand .title .u-social-network div.u-fb {
    background-image: url(images/ic_logo_fb-cf41e8f36937b1fc76524cd0dea1da16.svg)
}
div.h-channel .h-header.h-expand .title .u-social-network div.u-twitter,
div.h-conv .h-header.h-expand .title .u-social-network div.u-twitter {
    background-image: url(images/ic_logo_twitter-db715695ccc7fd0deb1690eedca8810b.svg)
}
div.h-channel .h-header.h-expand .title .u-social-network div.u-linked-in,
div.h-conv .h-header.h-expand .title .u-social-network div.u-linked-in {
    background-image: url(images/ic_logo_linkedin-14400456dc7497189c97a3c683548a3a.svg)
}
div.h-channel .h-header.h-expand .title .u-social-network div.u-skype,
div.h-conv .h-header.h-expand .title .u-social-network div.u-skype {
    background-image: url(images/ic_logo_skype-4f2e68b886465a7068b3fce4e5a502cc.svg)
}
div.h-channel .h-header.h-expand .title .u-social-network div:hover,
div.h-conv .h-header.h-expand .title .u-social-network div:hover {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, .9)
}
div.h-channel .h-header .title,
div.h-conv .h-header .title {
    color: #FFF;
    vertical-align: middle;
    height: 100%;
    font-size: 15px;
    padding: 15px 20px 0;
    width: 325px;
    float: left
}
div.h-channel .h-header span.ic-chat,
div.h-conv .h-header span.ic-chat {
    font-size: 20px;
    height: 24px;
    width: 24px;
    display: inline-block
}
div.h-channel .h-header h1.list-title,
div.h-conv .h-header h1.list-title {
    transition: .25s all;
    font-size: 22px;
    margin: 5px 0 0;
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
@media only screen and (max-device-width: 667px) {
    div.h-channel .h-header h1.list-title,
    div.h-conv .h-header h1.list-title {
        width: 100%
    }
}
div.h-channel .h-header div.u-agent-avatar,
div.h-conv .h-header div.u-agent-avatar {
    vertical-align: middle;
    z-index: 100;
    position: absolute;
    right: 17px;
    top: 43px;
    width: 60px;
    transition: .25s all
}
div.h-channel .h-header div.u-agent-avatar .agent-circle,
div.h-conv .h-header div.u-agent-avatar .agent-circle {
    width: 43px;
    height: 43px;
    border-radius: 50% 8px 50% 50%;
    overflow: hidden;
    cursor: pointer;
    float: right;
    font-size: 20px;
    transition: all .25s;
    border: 3px solid transparent;
    display: inline-block
}
div.h-channel .h-header div.u-agent-avatar .agent-circle:hover,
div.h-conv .h-header div.u-agent-avatar .agent-circle:hover {
    border: 3px solid rgba(0, 0, 0, .3)
}
div.h-channel .h-header div.u-agent-avatar .agent-circle span.theme-bg,
div.h-conv .h-header div.u-agent-avatar .agent-circle span.theme-bg {
    width: 100%;
    height: 100%;
    display: table
}
div.h-channel .h-header div.u-agent-avatar .agent-circle img,
div.h-conv .h-header div.u-agent-avatar .agent-circle img {
    width: auto;
    height: 100%
}
div.h-channel .h-header p.list-desc,
div.h-conv .h-header p.list-desc {
    margin: 2px 0 0;
    font-size: 12px;
    opacity: .8;
    font-weight: 400;
    overflow-y: hidden
}
@media only screen and (max-device-width: 667px) {
    div.h-channel .h-header p.list-desc,
    div.h-conv .h-header p.list-desc {
        height: 23px;
        width: 100%
    }
}
div.h-channel .h-header .conv-title,
div.h-conv .h-header .conv-title {
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding: 0 10px
}
div.h-channel .h-header .minimize,
div.h-conv .h-header .minimize {
    color: #FFF;
    font-size: 16px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 10px;
    cursor: pointer
}
div.h-channel .h-header .minimize:hover .icon,
div.h-conv .h-header .minimize:hover .icon {
    opacity: 1
}
div.h-channel .h-header .icon,
div.h-conv .h-header .icon {
    font-size: 18px
}
div.h-channel .h-header .icon.mild,
div.h-conv .h-header .icon.mild {
    opacity: .5
}
div.h-channel .h-header .icon.black,
div.h-conv .h-header .icon.black {
    color: #000!important
}
div.h-channel .h-header .icon:hover,
div.h-conv .h-header .icon:hover {
    opacity: 1
}
div.h-channel .h-header .icon.icon-ic_back,
div.h-conv .h-header .icon.icon-ic_back {
    margin-left: -8px;
    margin-top: auto;
    height: 24px;
    width: 24px
}
div.h-channel .h-header .icon.icon-ic_chat_double,
div.h-conv .h-header .icon.icon-ic_chat_double {
    cursor: auto;
    font-size: 24px;
    margin-left: -1px;
    margin-top: auto
}
div.h-channel .h-header .icon.icon-ic_message,
div.h-conv .h-header .icon.icon-ic_message {
    cursor: auto;
    font-size: 22px;
    margin-left: -1px;
    margin-top: auto
}
div.h-channel div.header,
div.h-conv div.header {
    height: 70px;
    width: 100%;
    display: table;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    font-size: 24px
}
div.h-channel div.header a,
div.h-conv div.header a {
    color: #8B8B8B;
    text-decoration: none
}
div.h-channel div.body,
div.h-conv div.body {
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 100px 0 0;
    overflow: hidden;
    border-radius: 5px 5px 0 0
}
div.h-channel div.body.no-articles,
div.h-conv div.body.no-articles {
    height: 100%
}
div.h-channel div.body .validation-msg,
div.h-conv div.body .validation-msg {
    color: #FC983C
}
div.h-channel div.body label.control-label,
div.h-conv div.body label.control-label {
    color: #525252
}
div.h-channel div.body input[type=text].form-control:focus,
div.h-channel div.body input[type=text].form-control:hover,
div.h-channel div.body textarea[type=text].form-control:focus,
div.h-channel div.body textarea[type=text].form-control:hover,
div.h-conv div.body input[type=text].form-control:focus,
div.h-conv div.body input[type=text].form-control:hover,
div.h-conv div.body textarea[type=text].form-control:focus,
div.h-conv div.body textarea[type=text].form-control:hover {
    border-color: #FC983C
}
div.h-channel div.body.hasScroll:hover,
div.h-conv div.body.hasScroll:hover {
    overflow-y: scroll;
    margin-right: -6px
}
div.h-channel div.footer,
div.h-conv div.footer {
    height: 70px;
    position: relative
}
div.h-channel div.footer div.help-text,
div.h-conv div.footer div.help-text {
    display: none
}
div.h-channel div.footer .placeholder,
div.h-conv div.footer .placeholder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    pointer-events: none;
    -webkit-transition: opacity .08s linear;
    transition: opacity .08s linear;
    font-size: 14px;
    line-height: 20px;
    z-index: 0
}
div.h-channel div.footer .ce-textarea,
div.h-conv div.footer .ce-textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    word-wrap: break-word;
    white-space: pre-wrap;
    min-height: 70px;
    max-height: 70px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    display: block;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .5)
}
div.h-channel div.footer .ce-textarea:focus,
div.h-conv div.footer .ce-textarea:focus {
    outline: 0;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .2)
}
div.h-channel div.footer a.emoji-picker,
div.h-conv div.footer a.emoji-picker {
    right: 40px
}
div.h-channel div.footer.preview div.image,
div.h-conv div.footer.preview div.image {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    height: 60px;
    display: inline-block;
    position: relative
}
div.h-channel div.footer.preview div.image:hover div.image-actions,
div.h-conv div.footer.preview div.image:hover div.image-actions {
    display: block
}
div.h-channel div.footer.preview div.image img,
div.h-conv div.footer.preview div.image img {
    display: block;
    margin: auto;
    max-width: 100px;
    max-height: 58px
}
div.h-channel div.footer.preview div.image div.image-actions,
div.h-conv div.footer.preview div.image div.image-actions {
    display: none;
    border-radius: 2px;
    background: #fff;
    width: 50px;
    position: absolute;
    color: #ababab;
    top: 17px;
    left: 25px;
    cursor: pointer
}
div.h-channel div.footer.preview .ce-textarea,
div.h-conv div.footer.preview .ce-textarea {
    width: 246px;
    display: inline-block;
    margin-top: -50px
}
div.h-channel div.footer.preview .placeholder,
div.h-conv div.footer.preview .placeholder {
    left: 124px
}
div.h-conv div.h-header {
    background-color: #45A4EC;
    color: #FFF
}
div.h-conv div.h-header a {
    color: #FFF;
    text-decoration: none
}
div.h-conv div.body {
    background-image: url(images/texture_background.png);
    background-size: 200px 200px;
    background-repeat: repeat
}
div.h-conv div.body div.message-container {
    width: 100%
}
div.h-conv div.body div.message-container span.arrow {
    margin: 0 0 0 5px
}
div.h-conv div.body div.message-container span.arrow.right {
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #DFF1FF
}
div.h-conv div.body div.message-container span.arrow.left {
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFF
}
div.h-conv div.body div.message-container>span {
    float: left
}
div.h-conv div.body div.message-container>span.avatar-content-wrap {
    background-color: #CD1D27
}
div.h-conv div.body div.message-container.odd>span {
    float: right
}
.rating,
div.h-channel div.channel>div {
    float: left
}
div.h-conv div.body div.message-container.odd span.arrow {
    margin: 0 5px 0 0
}
div.h-conv div.body div.message-container.odd span.chat-msg {
    border-radius: 25px 25px 4px
}
div.h-conv div.body div.message-container.odd span.chat-msg div.glyphicon {
    position: absolute;
    right: 5px;
    top: 5px
}
div.h-conv div.body div.message-container span.chat-msg {
    vertical-align: top;
    background-color: #FFF;
    padding: 16px;
    border-radius: 4px 25px 25px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .05);
    position: relative;
    margin-left: 5px;
    max-width: 79%;
    min-width: 120px;
    min-height: 30px
}
div.h-conv div.body div.message-container span.chat-msg div.agent-name {
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #90a4ae
}
div.h-conv div.body div.message-container span.chat-msg p.text {
    white-space: pre-wrap;
    word-break: break-all;
    word-break: break-word;
    margin: 5px 0
}
div.h-channel div.body.hasScroll:hover a {
    margin-right: -6px
}
div.h-channel div.actions {
    text-align: center
}
div.h-channel .ui-form {
    margin: 0;
    padding: 10px
}
div.h-channel .ui-form>div {
    padding-bottom: 10px
}
div.h-channel div.channel {
    vertical-align: middle;
    width: 100%
}
div.h-channel div.channel>div.icon {
    width: 60px;
    padding: 0 10px
}
div.h-channel div.channel>div.details {
    width: 210px
}
div.h-channel div.channel>div.ext {
    width: 100px
}
div.h-channel div.channel p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap
}
div.h-channel div.channel p.channel-name,
div.h-channel div.channel p.time {
    color: #101010
}
div.h-channel div.channel p.welcome-text {
    color: #888
}
div.h-channel div.channel p.time {
    font-size: 12px
}
div.h-channel div.channel p.count {
    background-color: #4A90E2;
    border-radius: 15px;
    color: #fff;
    width: 40px;
    text-align: center
}
div.h-channel div.channel .welcome-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1
}
div.h-channel div.channel .welcome-text i.icon-ic_reply {
    float: left;
    margin-right: 4px;
    color: #8291a0;
    font-size: 12px
}
div.h-channel div.channel .welcome-text .last-msg-preview {
    display: inline-block
}
div.h-channel div.channel .welcome-text .last-msg-preview .h-message-text {
    width: 224px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    vertical-align: inherit
}
div.h-channel div.channel .welcome-text .last-msg-preview .h-message-text .emojiCe {
    width: 16px;
    height: 16px
}
.h-reply-wrapper div.footer-note {
    width: calc(100% - 6px)!important;
    bottom: 100%;
    padding: 15px 0 6px;
    background: -moz-linear-gradient(270deg, rgba(243, 245, 247, 0) 0, rgba(243, 245, 247, .3) 20%, rgba(243, 245, 247, .5) 30%, rgba(243, 245, 247, .8) 50%, #f3f5f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(243, 245, 247, 0)), color-stop(20%, rgba(243, 245, 247, .3)), color-stop(30%, rgba(243, 245, 247, .5)), color-stop(50%, rgba(243, 245, 247, .8)), color-stop(100%, #f3f5f7));
    background: -webkit-linear-gradient(270deg, rgba(243, 245, 247, 0) 0, rgba(243, 245, 247, .3) 20%, rgba(243, 245, 247, .5) 30%, rgba(243, 245, 247, .8) 50%, #f3f5f7 100%);
    background: -o-linear-gradient(270deg, rgba(243, 245, 247, 0) 0, rgba(243, 245, 247, .3) 20%, rgba(243, 245, 247, .5) 30%, rgba(243, 245, 247, .8) 50%, #f3f5f7 100%);
    background: -ms-linear-gradient(270deg, rgba(243, 245, 247, 0) 0, rgba(243, 245, 247, .3) 20%, rgba(243, 245, 247, .5) 30%, rgba(243, 245, 247, .8) 50%, #f3f5f7 100%);
    background: linear-gradient(180deg, rgba(243, 245, 247, 0) 0, rgba(243, 245, 247, .3) 20%, rgba(243, 245, 247, .5) 30%, rgba(243, 245, 247, .8) 50%, #f3f5f7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f3f5f7', endColorstr='#f3f5f7', GradientType=0)
}
.articles-list div.footer-note,
.h-categories div.footer-note {
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) F 0, rgba(255, 255, 255, .3) 20%, rgba(255, 255, 255, .5) 30%, rgba(255, 255, 255, .8) 50%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, .3)), color-stop(30%, rgba(255, 255, 255, .5)), color-stop(50%, rgba(255, 255, 255, .8)), color-stop(100%, #fff));
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 20%, rgba(255, 255, 255, .5) 30%, rgba(255, 255, 255, .8) 50%, #fff 100%);
    background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 20%, rgba(255, 255, 255, .5) 30%, rgba(255, 255, 255, .8) 50%, #fff 100%);
    background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 20%, rgba(255, 255, 255, .5) 30%, rgba(255, 255, 255, .8) 50%, #fff 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 20%, rgba(255, 255, 255, .5) 30%, rgba(255, 255, 255, .8) 50%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0)
}
.articles-list div.footer-note,
.categories-list div.footer-note {
    background: -moz-linear-gradient(270deg, rgba(246, 248, 250, 0) 0, rgba(246, 248, 250, .3) 20%, rgba(246, 248, 250, .5) 30%, rgba(246, 248, 250, .8) 50%, #f6f8fa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(246, 248, 250, 0)), color-stop(20%, rgba(246, 248, 250, .3)), color-stop(30%, rgba(246, 248, 250, .5)), color-stop(50%, rgba(246, 248, 250, .8)), color-stop(100%, #f6f8fa));
    background: -webkit-linear-gradient(270deg, rgba(246, 248, 250, 0) 0, rgba(246, 248, 250, .3) 20%, rgba(246, 248, 250, .5) 30%, rgba(246, 248, 250, .8) 50%, #f6f8fa 100%);
    background: -o-linear-gradient(270deg, rgba(246, 248, 250, 0) 0, rgba(246, 248, 250, .3) 20%, rgba(246, 248, 250, .5) 30%, rgba(246, 248, 250, .8) 50%, #f6f8fa 100%);
    background: -ms-linear-gradient(270deg, rgba(246, 248, 250, 0) 0, rgba(246, 248, 250, .3) 20%, rgba(246, 248, 250, .5) 30%, rgba(246, 248, 250, .8) 50%, #f6f8fa 100%);
    background: linear-gradient(180deg, rgba(246, 248, 250, 0) 0, rgba(246, 248, 250, .3) 20%, rgba(246, 248, 250, .5) 30%, rgba(246, 248, 250, .8) 50%, #f6f8fa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F6F8FA', endColorstr='#F6F8FA', GradientType=0)
}
div.footer-note {
    width: 100%;
    text-align: center;
    padding: 15px 0 10px;
    font-size: 11px;
    bottom: 0;
    position: absolute;
    color: #8c9aa5;
    left: 0
}
div.footer-note .product {
    color: #8c9aa5
}
div.image-frame {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    text-align: center
}
div.image-frame img {
    border-radius: 7.5px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}
.csat-rating {
    position: absolute;
    bottom: 0;
    min-height: 70px;
    display: table;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100px;
    z-index: 10;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -ms-animation-name: h-slide-in;
    -moz-animation-name: h-slide-in;
    -o-animation-name: h-slide-in;
    animation-name: h-slide-in;
    -webkit-animation-duration: .8s;
    -ms-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -ms-animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -moz-animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -o-animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -ms-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: .6s;
    -ms-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1)
}
.csat-rating .csat-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}
.csat-rating .csat-inner .text {
    display: block;
    margin-bottom: 15px
}
.csat-rating .csat-inner .btn-csat {
    border: .5px solid #ccc;
    margin-right: 10px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer
}
.csat-rating .csat-inner .thank-you {
    color: #000;
    font-size: 20px
}
.rating {
    margin-bottom: 40px
}
.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0)
}
.rating:not(:checked)>label {
    float: right;
    margin-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 35px;
    line-height: 1.2;
    color: #c8c8c8;
    padding-left: 0
}
.rating:not(:checked)>label:before {
    content: 'â˜… '
}
.rating>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60, 2px 2px #B57340, 0 0 0 rgba(0, 0, 0, .5)
}
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label,
.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px #daa520, 2px 2px #B57340, 0 0 0 rgba(0, 0, 0, .5)
}
.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px
}
.vote-yes-wrapper {
    position: absolute;
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 380px;
    bottom: 20px;
    z-index: 999;
    overflow: hidden
}
.vote-yes {
    border: 1px solid #EEE;
    max-width: 380px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-name: h-slide-in;
    animation-name: h-slide-in;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    animation-fill-mode: both;
    height: 100%
}
.vote-yes .minimize {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #c8c8c8
}
.dark-bg,
.vote-yes-outer {
    bottom: 0;
    right: 0;
    position: absolute;
    left: 0
}
.vote-yes .comment-header {
    font-size: 20px;
    margin-bottom: 40px;
    padding-top: 10px
}
.vote-yes .comment-header span {
    display: block;
    margin-bottom: 10px
}
.vote-yes .rate .rate-header {
    font-size: 18px;
    margin-bottom: 15px;
    color: #c8c8c8;
    display: block
}
.vote-yes .rate .star-value {
    font-size: 20px;
    margin-bottom: 15px;
    color: gold;
    display: block
}
.vote-yes .comment {
    margin-bottom: 30px
}
.vote-yes .comment .form-control {
    font-size: 16px;
    border: 1px solid #EEE;
    border-radius: 3px;
    padding: 10px;
    box-shadow: none
}
.vote-yes .comment .form-control:focus {
    border-color: #c8c8c8!important
}
.vote-yes .submit-rating {
    text-align: center;
    clear: both
}
.vote-yes .submit-rating .btn {
    height: 40px;
    background: #ffd701;
    display: block;
    margin: auto;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    padding-top: 8px
}
.app-loader,
.dark-bg {
    width: 100%;
    height: 100%
}
.vote-yes .submit-rating .btn:hover {
    background: #e8c300;
    color: #fff
}
.vote-yes .submit-rating .thank-you {
    color: #000;
    font-size: 20px
}
.dark-bg {
    top: 0;
    z-index: 99;
    background: rgba(55, 71, 79, .3)
}
.vote-yes-outer {
    top: 100px;
    width: 100%;
    overflow: hidden;
    z-index: 999
}
.csat-fix {
    position: inherit;
    overflow: hidden
}
.app-loader {
    position: absolute;
    display: table
}
.app-loader .loader-frame {
    display: table-cell;
    vertical-align: middle
}
.app-loader .loader-frame .loader-wrap {
    display: block;
    text-align: center
}
.loader {
    margin: 0 auto;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.1s infinite linear;
    -moz-animation: loader 1.1s infinite linear;
    -o-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear
}
.loader-text {
    font-size: 13px;
    color: #999;
    margin-top: 3%;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 16em;
    height: 16em
}
@-webkit-keyframes fadein {
    from {
        -webkit-transform: scale(.9);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1
    }
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes fadein {
    from {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1
    }
}
.categories-list {
    height: 100%;
    background: #F6F8FA;
    overflow: auto
}
.categories-list ul {
    padding: 10px
}
.categories-list .category {
    width: 50%;
    height: 160px;
    padding: 6px;
    text-align: center;
    display: table;
    float: left;
    cursor: pointer;
    font-size: 14px;
    color: #111;
    font-weight: 600;
    text-transform: capitalize
}
.categories-list .category .category-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: #37474f;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 9px rgba(36, 37, 38, .08);
    transition: box-shadow .25s ease, transform .25s ease;
    position: relative;
    background: #FFF
}
.categories-list .category .category-inner:hover {
    cursor: pointer;
    box-shadow: 5px 7px 10px rgba(36, 37, 38, .13)
}
.categories-list .category .category-inner:hover img.category-icon-img {
    -webkit-transform: scale(1.1) rotate(10deg)!important;
    transform: scale(1.1) rotate(4deg)!important
}
.categories-list .category .category-inner .category-icon {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin: auto auto 15px;
    display: table;
    font-size: 24px;
    line-height: 1;
    font-weight: 300
}
.categories-list .category .category-inner .category-icon .category-icon-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: table-cell;
    padding-top: 2px;
    color: rgba(255, 255, 255, .9);
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.categories-list .category .category-inner .category-icon img.category-icon-img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform
}
.article-modal .modal-body img {
    max-width: 500px;
    max-height: 500px
}
.empty-state {
    background: #f9f9f9;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table
}
span.empty-state-content {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    padding: 0 50px;
    line-height: 1.4
}
span.empty-state-content img {
    width: 240px;
    height: auto;
    margin: auto auto 20px;
    display: block
}
.no-result-img {
    background-image: url(images/no-results-9cdf05a560122a14debc62c5fd88faec.png);
    background-size: 90px;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto 20px
}
.articles-list {
    height: 100%;
    overflow: auto;
    background: #F6F8FA
}
.tabs,
body {
    overflow: hidden
}
.articles-list ul {
    list-style-type: none;
    height: 100%
}
.articles-list .article {
    padding: 20px;
    border-bottom: 1px solid #F2F5F7;
    font-size: 14px;
    line-height: 1.3;
    background: #FFF;
    color: #263238;
    cursor: pointer;
    display: flex;
    width: 100%;
    vertical-align: middle;
    align-items: center
}
.articles-list .article:hover {
    background: #F2F5F7
}
.articles-list .article img {
    height: 20px;
    margin-right: 15px;
    float: left;
    margin-top: -2px
}
.articles-list .search-result-heading {
    padding: 25px 0 10px 20px;
    font-size: 13px;
    background-color: #f9f9f9;
    color: #111;
    font-weight: 400
}
.search-wrap {
    position: absolute;
    right: 20px;
    top: 47px;
    background: rgba(0, 0, 0, .1);
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    z-index: 99;
    transition: all .3s
}
.search-wrap.search {
    width: calc(100%);
    margin-right: -20px;
    border-radius: 0;
    height: 53px
}
.search-wrap.search .search-input-text {
    width: 100%;
    position: absolute;
    left: 0;
    background: 0 0;
    font-size: 16px;
    top: 0;
    color: #FFF;
    border: 0;
    border-radius: 25px;
    height: 100%;
    padding: 0 45px 0 50px;
    z-index: 1;
    box-shadow: none
}
.search-wrap.search .search-input-text::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5)
}
.search-wrap.search .search-input-text::-moz-placeholder {
    color: rgba(255, 255, 255, .5)
}
.search-wrap.search .search-input-text:-ms-input-placeholder {
    color: rgba(255, 255, 255, .5)
}
.search-wrap.search .search-input-text:-moz-placeholder {
    color: rgba(255, 255, 255, .5)
}
.search-wrap.search .close_search_input {
    position: absolute;
    color: #FFF;
    right: 22px;
    top: 20px;
    z-index: 10;
    font-size: 16px;
    opacity: .4;
    transition: .25s all;
    cursor: pointer
}
.search-wrap.search .close_search_input:hover {
    opacity: 1
}
.search-wrap.search .icon-ic_search {
    margin-left: 9px;
    top: 6px
}
.search-wrap .icon-ic_search {
    font-size: 16px!important;
    width: 40px;
    text-align: left;
    padding: 11px 12px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: block
}
.close_search_outer {
    padding-top: 17px;
    padding-left: 8px
}
.search_white {
    background-image: url(images/ic_search_w-5f49aee85b5ab83cd6a39044e046c68f.png);
    background-size: 24px 24px;
    display: inline-block;
    height: 24px;
    background-repeat: no-repeat;
    width: 24px;
    cursor: pointer
}
.h-chat-custom .h-conv .h-header .title .icon.search_inside_icon {
    color: #666!important;
    position: absolute;
    left: 25px;
    bottom: 12px;
    font-size: 18px;
    z-index: 9
}
.h-chat-custom .h-conv .h-header .title .icon.close_search_input {
    color: #666!important;
    height: 21px;
    width: 21px;
    position: absolute;
    right: 23px;
    bottom: 9px;
    font-size: 16px;
    z-index: 9;
    text-align: center
}
.article_vote_outer {
    float: left;
    font-size: 14px;
    font-weight: 600
}
.article_vote_outer .thank_you {
    margin-top: 10px;
    display: block
}
.article_vote_outer .article_vote {
    background-size: 30px;
    height: 36px;
    background-repeat: no-repeat;
    width: 36px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
    opacity: .75
}
.article_vote_outer .article_vote:hover {
    opacity: 1
}
.article_vote_outer .article_like {
    background-image: url(images/ic_like-0f835ee6eaa6708bb9271044f10fa61d.png)
}
.article_vote_outer .article_dislike {
    background-image: url(images/ic_dislike-5a9b5d4ca21a3d76963da6f24ddfaa68.png)
}
.faq-body,
.faq-body-nobg {
    background: #FFF!important
}
.no-faqs {
    padding: 19px 25px;
    display: block;
    font-weight: 400;
    font-size: 13px;
    text-align: center
}
.no-faqs img {
    width: 240px;
    height: auto;
    margin: 100px auto 20px;
    display: block
}
.faq-link div,
.faq-link i {
    display: inline-block
}
.faq-body {
    padding: 100px 0 0!important
}
.search-results {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 12px;
    padding: 0 15px
}
.faq-link i {
    font-size: 16px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    margin-right: 2px;
    position: relative
}
.tabs {
    width: 100%;
    border-radius: 0 0 5px 5px;
    height: 40px;
    display: table;
    position: absolute;
    bottom: 0;
    z-index: 99;
    background-color: #f7f7f7;
    border-top: 1px solid #ecebeb
}
.tabs .tabs-inner,
.tabs a {
    height: 40px;
    width: 50%;
    vertical-align: middle
}
.tabs a {
    display: table-cell;
    color: #8392a2;
    cursor: pointer;
    text-decoration: none
}
.tabs a .tabs-inner {
    display: inline
}
.tabs a .tabs-inner:after {
    display: none
}
.tabs a .tabs-inner .faq-link {
    cursor: pointer
}
.tabs a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    background: #f0f3f7;
    color: #37474f
}
.tabs .tabs-inner {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    display: table-cell;
    transition: .3s all;
    position: relative
}
.tabs .tabs-inner:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0
}
.tabs .tabs-inner.faq:after {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.tabs .tabs-inner.chat:after {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.tabs .tabs-inner.left-line {
    border-left: 1px solid #f0f0f1
}
.tabs .tabs-inner:active,
.tabs .tabs-inner:focus,
.tabs .tabs-inner:hover {
    cursor: default;
    text-decoration: none;
    opacity: 1
}
body,
html {
    font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
    color: #37474f;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px
}
body a,
html a {
    color: #525252
}
body a:hover,
html a:hover {
    text-decoration: none
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: 0 0
}