<body id="hana-container-body">
	<div id="hana-container">
		<div data-reactroot="" class="hana-messenger">
			<div class="hana-messenger-background"></div>
			<span>
				<div class="hana-conversation">
					<div class="hana-header-buttons">
						<div class="hana-header-buttons-back">
							<div class="hana-header-buttons-back-contents"></div>
						</div>
						<div class="hana-header-buttons-close">
							<div class="hana-header-buttons-close-contents"></div>
						</div>
					</div>
					<div class="hana-chat-container">
						<div class="hana-conversation-backgrounds">
							<div class="hana-conversation-background hana-conversation-background-1"></div>
						</div>
						<div class="hana-conversation-body hana-conversation-body-snapped" style="transform: translateY(-136px); bottom: -136px;">
							<div class="hana-chat-profile">
								<div class="hana-conversation-profile">
									<div class="hana-admin-profile hana-agent-profile">
										<div class="hana-admin-profile-full" style="opacity: 0;">
											<div class="hana-admin-profile-full-background" style="background-image: url(&quot;https://static.intercomassets.com/avatars/1025316/square_128/cropped-1494212726.jpg?1494212726&quot;);"></div>
											<div class="hana-admin-profile-full-avatar">
												<div class="hana-avatar">
													<img src="https://static.intercomassets.com/avatars/1025316/square_128/cropped-1494212726.jpg?1494212726">
												</div>
												<div class="hana-active-state"></div>
											</div>
											<div class="hana-admin-profile-full-body">
												<div class="hana-admin-profile-full-admin-name">Katie</div>
												<div class="hana-admin-profile-full-last-active">Active</div>
											</div>
											<div class="hana-admin-profile-full-title-and-location">
												<div class="hana-admin-profile-full-title">
													<span>Sales Development Representative</span>
												</div>
												<div class="hana-admin-profile-full-local-time">9:42 am in San Francisco, US</div>
											</div>
											<div class="hana-admin-profile-full-social-accounts">
												<a href="https://www.linkedin.com/in/katie-mueller-96962684" target="_blank">
													<span class="hana-admin-profile-full-social-account hana-admin-profile-full-social-account-linkedin"></span>
												</a>
											</div>
										</div>
										<div class="hana-agent-profile" style="opacity: 1;">
											<div class="hana-head-name">
												<div class="hana-head-avatar">
													<div class="hana-avatar">
														<img src="https://static.intercomassets.com/avatars/1025316/square_128/cropped-1494212726.jpg?1494212726">
													</div>
													<div class="hana-active-state"></div>
												</div>
												<div class="hana-agent-profile-body">
													<div class="hana-head-agent-name">Katie</div>
													<div class="hana-head-desc">Active</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="hana-chat-body" style="bottom: 55px; top: 211px;">
								<div class="hana-chat-body-wrapper">
									<div class="hana-conversation-parts" style="transform: translateY(0px);">
										<span>
											<div class="hana-conversation-part hana-conversation-part-user">
												<div class="hana-comment-container hana-comment-container-user">
													<div class="hana-comment">
														<div class="hana-blocks">
															<div class="hana-block hana-block-paragraph">Hi</div>
														</div>
													</div>
												</div>
												<span></span>
											</div>
											<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped">
												<div class="hana-comment-container hana-comment-container-admin">
													<div class="hana-comment">
														<div class="hana-blocks">
															<div class="hana-block hana-block-paragraph">Intercom typically replies in a few hours.</div>
														</div>
													</div>
												</div>
												<span></span>
											</div>
											<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped">
												<div class="hana-comment-container hana-comment-container-admin">
													<div class="hana-comment">
														<div class="hana-blocks">
															<div class="hana-block hana-block-paragraph">Give them a way to reach you:</div>
														</div>
													</div>
												</div>
												<span></span>
											</div>
											<div class="hana-conversation-part hana-conversation-part-admin">
												<div class="hana-attribute-collector">
													<div class="hana-notification-channel-collector-card">
														<div class="hana-notification-channel-collector-card-avatar">
															<div class="hana-avatar">
																<img src="https://static.intercomassets.com/avatars/746691/square_128/128-84da43fc2730f3d3c2777a33101b5e52cbe98a9c6068dc3bdba296dbcf6bdd64-1502881502.png?1502881502">
															</div>
														</div>
														<div class="hana-notification-channel-collector-card-body">
															<div class="hana-notification-channel-collector-card-controls">
																<div class="hana-notification-channel-collector-card-controls-message">You'll be notified here and by SMS</div>
																<div class="hana-notification-channel-collector-card-controls-prompt">Get notified</div>
																<div class="hana-notification-channel-collector-card-controls-channels">
																	<a class="hana-notification-channel-collector-card-controls-channel hana-notification-channel-collector-card-controls-channel-selected">Email</a>
																	<a class="hana-notification-channel-collector-card-controls-channel">SMS</a>
																</div>
															</div>
															<div>
																<div class="hana-text-input hana-text-input-notification-channel">
																	<input type="text" placeholder="email@domain.com" value="">
																	<button class="hana-text-input-submit-button"></button>
																	<div class="hana-text-input-success-icon"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<span></span>
											</div>
											<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped">
												<div class="hana-comment-container hana-comment-container-admin">
													<div class="hana-comment">
														<div class="hana-blocks">
															<div class="hana-block hana-block-paragraph">
																<span title="wave">??</span> &nbsp;Hi there
															</div>
														</div>
													</div>
												</div>
												<span></span>
											</div>
											<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-last">
												<div class="hana-comment-container hana-comment-container-admin">
													<div class="hana-comment-container-admin-avatar">
														<div class="hana-avatar">
															<img src="https://static.intercomassets.com/avatars/1025316/square_128/cropped-1494212726.jpg?1494212726">
														</div>
													</div>
													<div class="hana-comment">
														<div class="hana-blocks">
															<div class="hana-block hana-block-paragraph">What brings you to Intercom?&nbsp;</div>
														</div>
													</div>
												</div>
												<span>
													<div class="hana-conversation-part-metadata">
														<div class="hana-conversation-part-metadata-save-state">1m ago.</div>
													</div>
												</span>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>
						<span>
							<div class=""></div>
						</span>
					</div>
					<div class="hana-conversation-footer">
						<div class="hana-composer">
							<pre><br></pre>
							<textarea placeholder="Write a reply…"></textarea>
							<span></span>
							<span></span>
							<div class="hana-composer-buttons">
								<div class="hana-composer-upload-button">
									<input type="file" style="display: none;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
		</div>
	</div>
</body>