<div class="hana-composer hana-footerarea">
    <% if (show_form === 'true' || show_form === true ) { %>
    <button class="hana-button-start hana-background-color hana-text-color"   style='background-color: <%= background %>'>Bắt đầu trò chuyện</button>
    <% } else { %>
    <pre><br></pre>
    <textarea placeholder="Vui lòng nhập tiếng Việt có dấu..." class="mideas-input-message usingPlaceHolder" maxlength="4000"></textarea>
    <!--<input placeholder="Vui lòng nhập tiếng Việt có dấu..." class="mideas-input-message usingPlaceHolder" maxlength="4000"></input>-->
    <span></span>
    <span></span>
    <div class="hana-composer-buttons">
        <button class="hana-composer-send-button">
        </button>
    </div>
    <% } %>

</div>
<div class="hana-composer-power hana-footerarea">
    <span></span>
    <div class="hana-composer-buttons" style="float: left ; height: 30px; width: 100%; right: 0">
        <% if (show_form === 'true' || show_form === true ) { %>
        <% } else { %>
            <% if (ie === 'true' ) { %>
            <% } else { %>
            <div class="hana-composer-upload-button"></div>
            <input type="file" style="display: none;" id="fileuploadimage" name="uploadfile" accept=".jpg, .jpeg, .png, .gif" title="chọn hình ảnh" >
            <% } %>
        <% } %>

        <% if (powerby === 'true' || powerby === true ) { %>
        <% } else { %>
            <div class="hana-powerby" style="float: right; top: 8px; position: relative; right: 10px;">
                <span style="font-size: 11px; font-weight: 100">Phát triển bởi </span><b class="hana-pointer hana-website">Hana.ai</b>
            </div>
        <% } %>
    </div>
</div>