<div class="hana-chat-body-wrapper">
	<div class="hana-conversation-parts mideas-wrapper-popup-body" style="transform: translateY(0px);">
		<span class="mideas-message-chat">
			<div class="hana-conversation-part hana-conversation-part-user mideas-chat-message">
				<div class="hana-comment-container hana-comment-container-user">
					<div class="hana-comment">
						<div class="hana-blocks">
							<div class="hana-block hana-block-paragraph">Hi</div>
						</div>
					</div>
				</div>
				<span></span>
			</div>
			<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped mideas-chat-message">
				<div class="hana-comment-container hana-comment-container-admin">
					<div class="hana-comment">
						<div class="hana-blocks">
							<div class="hana-block hana-block-paragraph">Intercom typically replies in a few hours.</div>
						</div>
					</div>
				</div>
				<span></span>
			</div>
			<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped">
				<div class="hana-comment-container hana-comment-container-admin">
					<div class="hana-comment">
						<div class="hana-blocks">
							<div class="hana-block hana-block-paragraph">Give them a way to reach you:</div>
						</div>
					</div>
				</div>
				<span></span>
			</div>
			<div class="hana-conversation-part hana-conversation-part-admin">
				<div class="hana-attribute-collector">
					<div class="hana-notification-channel-collector-card">
						<div class="hana-notification-channel-collector-card-avatar">
							<div class="hana-avatar">
								<img src="https://static.intercomassets.com/avatars/746691/square_128/128-84da43fc2730f3d3c2777a33101b5e52cbe98a9c6068dc3bdba296dbcf6bdd64-1502881502.png?1502881502">
							</div>
						</div>
						<div class="hana-notification-channel-collector-card-body">
							<div class="hana-notification-channel-collector-card-controls">
								<div class="hana-notification-channel-collector-card-controls-message">You'll be notified here and by SMS</div>
								<div class="hana-notification-channel-collector-card-controls-prompt">Get notified</div>
								<div class="hana-notification-channel-collector-card-controls-channels">
									<a class="hana-notification-channel-collector-card-controls-channel hana-notification-channel-collector-card-controls-channel-selected">Email</a>
									<a class="hana-notification-channel-collector-card-controls-channel">SMS</a>
								</div>
							</div>
							<div>
								<div class="hana-text-input hana-text-input-notification-channel">
									<input type="text" placeholder="email@domain.com" value="">
									<button class="hana-text-input-submit-button"></button>
									<div class="hana-text-input-success-icon"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<span></span>
			</div>
			<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped">
				<div class="hana-comment-container hana-comment-container-admin">
					<div class="hana-comment">
						<div class="hana-blocks">
							<div class="hana-block hana-block-paragraph">
								<span title="wave">??</span> &nbsp;Hi there
							</div>
						</div>
					</div>
				</div>
				<span></span>
			</div>
			<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-last">
				<div class="hana-comment-container hana-comment-container-admin">
					<div class="hana-comment-container-admin-avatar">
						<div class="hana-avatar">
							<img src="https://static.intercomassets.com/avatars/1025316/square_128/cropped-1494212726.jpg?1494212726">
						</div>
					</div>
					<div class="hana-comment">
						<div class="hana-blocks">
							<div class="hana-block hana-block-paragraph">What brings you to Intercom?&nbsp;</div>
						</div>
					</div>
				</div>
				<span>
					<div class="hana-conversation-part-metadata">
						<div class="hana-conversation-part-metadata-save-state">1m ago.</div>
					</div>
				</span>
			</div>
		</span>
	</div>
</div>