<div class="hana-chat-body-wrapper">
	<div class="hana-conversation-parts mideas-wrapper-popup-body" style="transform: translateY(0px);">
		<span class="mideas-message-chat">
			<div class="hana-conversation-part hana-conversation-part-user mideas-chat-message">
				<div class="hana-text-input hana-text-input-notification-channel">
					<input type="text" id="name" placeholder="Vui lòng nhập tên *" value=""  class="hana-form-input usingPlaceHolder">
				</div>
				<span></span>
			</div>

			<div class="hana-conversation-part hana-conversation-part-user mideas-chat-message">
				<div class="hana-text-input hana-text-input-notification-channel">
					<input type="email" id="email" placeholder="Vui lòng nhập email *" value="" class="hana-form-input usingPlaceHolder">
				</div>
				<span></span>
			</div>

			<div class="hana-conversation-part hana-conversation-part-user mideas-chat-message">
				<div class="hana-text-input hana-text-input-notification-channel">
					<input type="number" id="phone" placeholder="Vui lòng nhập SĐT *" value="" class="hana-form-input usingPlaceHolder">
				</div>
				<span></span>
			</div>

			<div class="hana-conversation-part hana-conversation-part-user mideas-chat-message">
				<div class="hana-text-input hana-text-input-notification-channel">
					<input type="text" id="location" placeholder="Vui lòng nhập địa chỉ" value="" class="hana-form-input usingPlaceHolder">
				</div>
				<span></span>
			</div>
			<div class="hana-conversation-part hana-conversation-part-user mideas-chat-message hana-custome-view">
				<span></span>
			</div>

		</span>
	</div>
</div>