<div class="hana-conversation-profile">
    <div class="hana-admin-profile hana-agent-profile">
        <div class="hana-agent-profile" style="opacity: 1; background-color: <%= background %>" >
            <div class="hana-head-name">
                <div class="hana-head-avatar">
                    <div class="hana-avatar">
                        <img src="<%= hanaimage %>">
                    </div>
                    <div class="hana-active-state"></div>
                </div>
                <div class="hana-agent-profile-body">
                    <div class="hana-head-agent-name"><%= hananame %></div>
                    <div class="hana-head-desc"><%= hanadesc %></div>
                </div>
                <div class="hana-head-avatar hana-collapse-down" style="float: right; padding: 10px 10px ; ">
                    <div style="width: 30px; height: 30px;">
                        <img src="<%= domain %>/image/collapse.png" style="height: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>