<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<% if (product === 'dev') { %>
<link type="text/css" rel="stylesheet" href="<%= domain %>/css/hmain.css?v=<%= unixtime %>">
<link rel="stylesheet" type="text/css" href="<%= domain %>/css/slick.css?v=<%= unixtime %>"/>
<link rel="stylesheet" type="text/css" href="<%= domain %>/css/slick-theme.css?v=<%= unixtime %>"/>
<link rel="stylesheet" type="text/css" href="<%= domain %>/css/card.css?v=<%= unixtime %>"/>
<% } else { %>
<link type="text/css" rel="stylesheet" href="<%= domain %>/css/minimize/hmain.css?v=<%= unixtime %>">
<% } %>
<link type="text/css" rel="stylesheet" href="<%= domain %>/css/emoticon.css?v=<%= unixtime %>">
