<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-last" data-isodate="<%= isodate %>" data-msgid="<%= msgid %>">
    <div class="hana-comment-container hana-comment-container-admin hana-gallary" style="padding-left: 0px; max-width: 100%; width: 100%">
    </div>
</div>