<div class="hana-conversation-part hana-conversation-part-admin hana-conversation-part-grouped mideas-chat-message" data-isodate="<%= isodate %>" data-msgid="<%= msgid %>">
    <div class="hana-comment-container hana-comment-container-admin">
        <div class="hana-comment hana-comment-admin" style='background-color: <%= colorcontentcskh %>; color: <%= colorcontent %>'>
            <div class="hana-blocks">
                <div class="hana-block hana-block-paragraph mideas-chat-msg-content"><%= message %></div>
            </div>
        </div>
    </div>
    <span></span>
</div>